body{
    user-select: none;
}

.word {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.word div{
    border: 2px solid black;
    width: 50px;
    height: 50px;

    font-size: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
}

.history{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.keyboard-row div {
    display: flex;
    
    align-items: center;
    justify-content: center;

    border: 1px solid lightgray;
    width: 40px;
    height: 50px;
    border-radius: 5px;
    background-color: lightgray;

    font-size: 30px;
    font-weight: bold;

    cursor: pointer;
}

.keyboard-row div.enter {
    width: 100px;
}

.keyboard-row div.backspace {
    width: 60px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.2s;
    animation-iteration-count: 3; /* Shake 3 times */
}

@media (max-width: 600px) {
    .keyboard-row {
        gap: 5px;
    }
    .keyboard-row div {
        width: 25px;
    }
}


.correct{
    background-color: green !important;
}

.missplaced{
    background-color: yellow !important;
}

.incorrect{
    background-color: gray !important;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.correctWord{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 1 50px; 
    background-color: #4CAF50;
    color: white;
    font-size: 24px; 
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


#popup {
    position: fixed;
    top: 45%;
    left: 44%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 24px;
    z-index: 1000;
    background-color: #4CAF50;
    color: white;
    width: 230px;
    height: 175px; 
    font-size: 75px;
}

.hidden {
    display: none;
}
